/* Стили всех элементов */
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0) !important;
}
/*Стили для html*/
html{
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    text-rendering: optimizeLegibility;
    font-size: 100%;
    line-height: 1.3;
}


/* Базовые стили тела */
body {
    width: 100%;
    min-height: 100%;
    font-family: 'Montserrat', Arial, sans-serif;
    font-weight: 400;
    color: #585858;
    margin: 0; /* Убираем отступы браузера */
    padding: 0; /* Убираем отступы браузера */
    display: flex;
    flex-direction: column; /* Располагаем элементы вертикально */
    overflow-x: hidden; /* Предотвращаем горизонтальную прокрутку */
    background-color: #fff; /* Задаем фон */
}



/* Шапка */

header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    flex-shrink: 0;
    color: #171717;
    background: #fff;
    z-index: 1000; /* Увеличиваем слой для header */
}

.header_container{
    min-width: 25%;
    width: 92.53%;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.header_bar{
    position: relative;
    z-index: 11;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 50px;
}

.header_left{
    display: flex;
    align-items: center;
    margin-right: 30px;
    height: 100%;
    cursor: pointer;
    font-size: 16px;
    font-family: Montserrat, Arial, sans-serif;
    line-height: 130%;
    font-weight: 500;
    letter-spacing: .1em;
}

.burger_box{
    margin-right: 13px;
}

.header_logo{
    position: relative;
    display: flex;
    align-items: center;
    height: 100%;
    cursor: default;
}

.header_logoImg img{
    position: relative;
    inset: 0px;
    box-sizing: border-box;
    padding: 0px;
    border: none;
    margin: auto;
    display: block;
    width: auto;
    height: auto;
    
    
}

.header_controls{
    display: flex;
    align-items: center;
    height: 100%;
    margin-right: -8px;
}

.header_controls span{
    font-size: 12px;
    font-weight: 200;
    position: relative;
    margin-top: 5px;
    
}

.header_controls img{
    width: 19px;
    height: 18px;
    
}

.header_poisk, .header_profile, .header_izbranoe, .header_korzina{
    position: static;
    height: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 8px;
}

@media (max-width: 768px) {

    .header_container{
        width: 91.66%;
    }
    /* Располагаем логотип рядом с бургером */
    .header_left {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-right: 10px;
    }

    .burger_box {
        margin-right: 10px; /* Минимальный отступ от логотипа */
    }

    .header_logo {
        margin-left: 0; /* Убираем отступы, чтобы логотип стал ближе к бургеру */
        display: flex;
        align-items: center;
        width: calc(100% - 160px);
    }

    /* Скрываем текст "Каталог" */
    .header_left span {
        display: none; /* Отключаем "Каталог" на мобильных устройствах */
    }

    .header_bar{
        height: 56px;
    }

    .header_controls {
        display: flex;
        align-items: center;
        flex-wrap: none; /* Позволяем кнопкам не переноситься на новую строку */
        justify-content: space-between; /* Распределяем кнопки равномерно */
        margin-right: 10px;
    }

    .header_controls div {
        min-width: 0%; /* Устанавливаем минимальную ширину для кнопок */
        max-width: 0%; /* Предотвращаем чрезмерное увеличение */
        text-align: center; /* Центрируем содержимое */
    }

    .header_controls img {
        width: 18px; /* Уменьшаем размер иконок */
        height: 18px;
    }

    .header_controls span {
        display: none;
    }
}

/* Стили main */
main{
    margin-top: 60px; /* Отступ вниз после фиксированного header */
    padding-left: 20px; /* Внутренние отступы */
    padding-right: 20px;
}

/* Навигация под шапкой */
.main_nav {
    background-color: #ffffff; /* Фон навигации */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Легкая тень */
    padding: 10px 0;
    position: sticky;
    top: 50px; /* Располагаем под фиксированной шапкой */
    z-index: 10;
}

.nav_list {
    display: flex;
    justify-content: space-around; /* Распределяем элементы равномерно */
    align-items: center;
    list-style: none; /* Убираем маркеры списка */
    margin: 0;
    padding: 0;
}

.nav_list li {
    margin: 0 15px; /* Отступы между пунктами */
}

.nav_list a {
    text-decoration: none; /* Убираем подчеркивание */
    font-size: 16px;
    font-weight: 600;
    color: #171717; /* Темный текст */
    transition: color 0.3s; /* Анимация при наведении */
}

.nav_list a:hover {
    color: #93c445; /* Цвет текста при наведении */
}

/* Адаптивность для мобильных устройств */
@media (max-width: 768px) {
    .nav_list {
        flex-wrap: wrap; /* Переносим элементы на следующую строку при необходимости */
        justify-content: center; /* Центрируем элементы */
    }

    .nav_list li {
        margin: 10px; /* Увеличиваем вертикальные отступы */
    }

    .nav_list a {
        font-size: 14px; /* Уменьшаем размер шрифта */
    }
}

.section {
    margin: 20px auto;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 10px;
    text-align: center;
}

/* Обёртка контента для изображения и текста */
.content-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    max-width: 100%;
    text-align: left; /* Выравнивание текста */
}

.section-image {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
    margin-bottom: 10px; /* Отступ между изображением и текстом */
}

.text-content {
    max-width: 100%;
    padding: 10px; /* Пространство вокруг текста */
}

.text-content h2 {
    font-size: 24px;
    margin-bottom: 10px;
    text-align: center; /* Текст по центру относительно контейнера */
    color: #171717;
}

.text-content p {
    margin: 0 0 15px 0;
    font-size: 16px;
    text-align: center;    
    color: #585858;
}

.text-content .section-button {
    display: block;
    padding: 10px 20px;
    border: none;
    background-color: #171717;
    color: #fff;
    border-radius: 50px;
    cursor: pointer;
    font-family: 'Montserrat', Arial, sans-serif;
    font-weight: 400;
    text-align: center;
    margin: auto; /* Центрируем кнопку */
}

.section-button:hover {
    background-color: #444;
}

/* Адаптивность */
@media (max-width: 768px) {
    .content-wrapper {
        flex-direction: column;
        align-items: center;
    }

    .section-image {
        margin-bottom: 10px; /* Отступ между изображением и текстом */
    }

    .text-content {
        text-align: center; /* Центрируем текст на мобильных устройствах */
    }
}

/* Слайдер */

/* Общие стили для секций со слайдерами */
.slider-section {
    padding: 40px 20px;
    background-color: #f4f4f4;
    text-align: center;
}

.section-title {
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 20px;
    color: #171717;
}

/* Контейнер для слайдера */
.slider-container {
    position: relative;
    overflow: hidden;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

/* Кнопки навигации */
.slider-arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    border: none;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 10;
}

.slider-arrow.left {
    left: 10px;
}

.slider-arrow.right {
    right: 10px;
}

.slider-arrow:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

/* Обёртка для слайдов */
.slider-wrapper {
    overflow: hidden;
    width: 100%;
    position: relative;
}

/* Трек для слайдов */
.slider-track {
    display: flex;
    transition: transform 0.5s ease-in-out;
    will-change: transform;
}

/* Стили для каждого элемента слайдера */
.slider-item {
    min-width: 19.33%; /* Три элемента на экран */
    height: auto;
    object-fit: cover;
    margin: 0 5px; /* Расстояние между картинками */
}

/* Адаптивность */
@media (max-width: 768px) {
    .slider-item {
        min-width: 50%; /* Два элемента на экран на мобильных устройствах */
    }

    .slider-arrow {
        width: 30px;
        height: 30px;
    }
}

/* Стили для 5 секции */
.five-section {
    padding: 20px 10px;
    background-color: #f9f9f9;
}

.five-section .section-title {
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 40px;
    color: #171717;
}

.five-section-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: none; /* Для мобильных устройств будет переноситься */
    gap: 20px;
}

.five-section-block {
    flex: 1 1 30%;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    text-align: center;
    border-radius: 8px;
    overflow: hidden;
    transition: transform 0.3s ease;
}

.five-section-block:hover {
    transform: translateY(-10px);
}

.five-section-image {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 8px;
    margin-bottom: 15px;
}

.five-section-title {
    font-size: 18px;
    font-weight: bold;
    color: #333;
    margin-bottom: 10px;
}

.five-section-description {
    font-size: 14px;
    color: #777;
    margin-bottom: 20px;
}

.five-section-button {
    background-color: #171717;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 40px;
    font-size: 14px;
    transition: background-color 0.3s ease;
}

.five-section-button:hover {
    background-color: #333;
}

@media (max-width: 768px) {
    .five-section-container {
        flex-direction: none; /* Переводим блоки в столбик на мобильных устройствах */
        align-items: center;
    }

    .five-section-block {
        flex: 1 1 100%;
        max-width: 400px;
        margin-bottom: 20px;
    }
}



/* Подвал */

/* Общие стили для подвала */
.footer {
    display: block;
    justify-content: space-between;
    background-color: #fff; /* Темный фон */
    color: #fff; /* Белый текст */
    padding: 20px 0; /* Отступы внутри подвала */
    margin-top: auto;
    width: 100%;
}

.footer-container {
    display: flex; /* Располагаем колонки горизонтально */
    justify-content: space-between; /* Равномерное распределение колонок */
    flex-wrap: wrap; /* Для адаптации */
    max-width: 100%;
    min-width: 280px;
    width: 92.53%;
    margin: 20px; /* Центрируем подвал */
    position: relative;
    left: 2%;
}

.footer-column {
    flex: 0 1; /* Каждая колонка занимает равное пространство */
    min-width: 200px; /* Минимальная ширина колонки */
    margin: 0 0px;
}

.footer-title {
    font-size: 18px; /* Размер заголовка */
    margin-bottom: 15px; /* Отступ после заголовка */
    font-weight: bold;
    text-transform: uppercase; /* Верхний регистр */
    color: #171717;
    position: center;
}

.footer-list {
    list-style: none; /* Убираем стандартные маркеры списка */
    padding: 0;
    margin: 0;
}

.footer-list li {
    margin-bottom: 10px; /* Отступы между пунктами списка */
}

.footer-list a {
    color: #171717; /* Светло-серый цвет текста */
    text-decoration: none; /* Убираем подчеркивание */
    transition: color 0.3s; /* Анимация изменения цвета */
}

.footer-list a:hover {
    color: #6e6b6b; /* Цвет текста при наведении */
}

@media (max-width: 768px) {
    .footer-container {
        flex-direction: column; /* Колонки становятся вертикальными */
        align-items: center; /* Центрируем колонки */
        margin: none;
    }

    .footer-column {
        margin-bottom: 20px; /* Отступы между колонками */
        text-align: center; /* Центрируем текст */
    }
}

