@import url('https://fonts.googleapis.com/css2?family=Kode+Mono:wght@400..700&display=swap');
*{background-color:#d6b596; /* Новый цвет фона */
    font-family: "Kode Mono", sans-serif;}
body {
    
    margin: 0;
    padding: 0;
}